<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>netctoss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>error.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	 <servlet-name>main</servlet-name>
  	 <servlet-class>web.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	 <servlet-name>main</servlet-name>
  	 <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	 <servlet-name>account</servlet-name>
  	 <servlet-class>web.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	 <servlet-name>account</servlet-name>
  	 <url-pattern>*.lc</url-pattern>
  </servlet-mapping>
  <!-- 通过配置让TOMCAT统一处理异常，即告诉tomcat在发生什么异常时转发到什么错误页面
  		配置方式如下: 1通过异常类型来声明 2通过错误编号来声明 二选一 -->
  <!-- 方案一 -->
  <!--  <error-page>
  	 <exception-type>java.long.Exception</exception-type>
  	 <location>/WEB-INF/error.jsp</location>
  </error-page>
   -->
  
  <error-page>
  	 <error-code>500</error-code>
  	 <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
  	 <error-code>404</error-code>
  	 <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
  	 <error-code>405</error-code>
  	 <location>/WEB-INF/error.jsp</location>
  </error-page>
  <filter>
  	 <filter-name>login</filter-name>
  	 <filter-class>web.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	 <filter-name>login</filter-name>
  	 <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
  	 <filter-name>log</filter-name>
  	 <filter-class>web.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	 <filter-name>log</filter-name>
  	 <url-pattern>*.lc</url-pattern>
  </filter-mapping>
</web-app>